// Custom styles.
/*标签设计*/
.post-title {
  font-size: 32px;
}

/*类设计*/
//body
.body {
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 14px;
  line-height: 2;
  color: #555;
}

.site-subtitle {
  font-family: "PingFang SC";
  margin-top: 10px;
  font-size: 17px;
  color: #555;
}

//首页文章阴影样式
.post {
  margin-top: 0px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 14px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 14px rgba(202, 203, 204, .5);
}
//　目录相关
.post-toc ol {
  text-align: left;
  list-style: none;
  font-size: 17px;
}

//热评文章
.ds-top-threads li a {
  padding-left: 5px;
  transition: border-width 0.2s linear 0s, color 0.2s linear 0s;
  border-bottom: none;
}

.ds-top-threads li a:hover {
  border-left: 8px solid #4d768c;
}

//首页头部样式
.header {
  background: url("/images/customer/header-bk.jpg");
}

.site-meta {
  float: none;
}

.menu {
  float: none;
}

.logo-line-before,
.logo-line-after {
  display: none;
}

.menu .menu-item a {
  font-size: 14px;
  color: rgb(15, 46, 65);
  border-radius: 4px;
}

.site-meta {
  margin-left: 0;
  text-align: center;
}

.site-meta .site-title {
  font-size: 28px;
  font-family: 'Comic Sans MS', sans-serif;
  color: #fff;
}

//首页尾部样式
.footer {
  background: none;
  font-size: 16px;
}

.footer-inner {
  font-family: 'Comic Sans MS', sans-serif;
  text-align: center;
  color: #4c618f;
}

//侧边栏信息样式修改
.site-author-name {
  margin: 48px 0 0;
  color: #090909;
  font-family: 'Comic Sans MS', sans-serif;
}

.links-of-blogroll {
  font-size: 14px;
  margin-bottom: 42px;
}

.links-of-author {
  margin-top: 30px;
  margin-bottom: 58px;
}

/*sidebar begin*/
.sidebar-nav li {
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  font-size: 18px;
  color: #555;
}

.sidebar-inner {
  color: #649ab6;
}

.sidebar {
  box-shadow: inset 2px 2px 40px #bdb2b2;
  background: none;
}

.sidebar a {
  color: #649ab6;
  border-bottom-color: #649ab6;
  border-bottom: none;
}

.sidebar a:hover {
  color: #0c0b0b;
}

.site-state-item {
  display: inline-block;
  padding: 8px 28px;
  border-left: 1px solid #649ab6;
}

.sidebar-nav .sidebar-nav-active {
  color: #649ab6;
  border-bottom-color: #649ab6;
}

.sidebar-nav li:hover {
  color: #0c0b0b;
}

//侧栏按钮样式
.sidebar-toggle {
  background: #649ab6;
}

/*sidebar end*/

.back-to-top {
  background: #649ab6;
}

//文章目录样式
.post-toc .nav .active > a {
  color: #4f7e96;
}

.post-toc ol a:hover {
  color: #7784ba;
}

.sidebar-nav .sidebar-nav-active:hover {
  color: #37596c;
}

a {
  border-bottom: none;
}

//首页阅读全文样式
.post-button {
  margin-top: 30px;
  text-align: center;
}

.post-button .btn {
  color: #fff;
  font-size: 15px;
  background: #0f2e41;
  border-radius: 16px;
  line-height: 2;
  margin: 0 4px 8px 4px;
  padding: 0 20px;
}

.post-button a {
  border-bottom: 1px solid #666;
}

//页面brand
.brand {
  position: relative;
  display: inline-block;
  padding: 0 40px;
  color: #fff;
  background: #555;
  border-bottom: none;
  border-bottom-color: currentcolor;
}


